<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
 <title>Vegetables Table</title>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <style>
 table, th, td{
 border: 1px solid black;
 border-collapse: collapse;
 }
 </style>
 </head>
 <body>
 <div>Details table</div>
 <hr>
 <table border="3", style="width:">
 <tr>
 <th>Vegetable name</th>
 <th>Price per kilo</th>
 <th>Amount of purchase</th>
 <th>Amount paid</th>
 <th>Initial price (RP)</th>
 <th>Discount (%)</th>
 <th>Total Pay</th>
 <th>Return</th>
 </tr>
 <tr>
  <td th:text=${vegetablename}></td>
 <td th:text=${priceperkilo}></td>
 <td th:text=${amountofpurchase}></td>
 <td th:text=${amountpaid}></td>
 <td th:text=${initialprice}></td>
 <td th:text=${discount}></td>
 <td th:text=${discountprice}></td>
 <td th:text=${return}></td>

 </tr>
 </table> 
 </body>
</html>